* { box-sizing: border-box; }




.ChatWindow{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 3fr 1fr;
	width: 400px;
	border-style: solid;
	border-color: blue;
}

.ChatWindow-Activated{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 3fr 1fr;
	width: 400px;
	border-style: solid;
	border-color: greenyellow;
}

.ChatWindow-CopyLink{
	padding: 4px; 
	background-color: aqua;
	width: 90px;
	font-size: 12px;
	text-align: center;

}

.ChatWindow-HiddenLink{
	font-size: 0px;
}

.ChatWindow-LeaveButton{
	background-color: lightpink;
	text-align: center;
	justify-content: center;
	height: 10px;
	width: 10px;
	justify-self: end;
	align-self: flex-end;
	padding: 0px;
	font-size: 8px;
}

.Chat-name{
	font-size: 12px;
	text-align: center;
	color: blue;
}

.Chat-users{
	font-size: 11px;
	text-align: left;
	padding-left: 3px;
	word-wrap: break-word;
	word-break: break-all;
}

.messageInput {
	padding: 10px;
	margin-left: 0px;
	padding-left: 0px;
}

.messages{
	display: flex;
	flex-direction: column;
	height: 200px;
	border: 1px;
	border-style: solid;
	overflow: auto;
	scroll-behavior: smooth;
}

.message-all{
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: left;
	width: 60%;
}

.messages-own{
	align-self: flex-end;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 60%;
	text-align: left;
}

.messages-message{
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	background-color: lightskyblue;
	width: 100%;
	border-radius: 8px;
	font-size: 14px;
	word-wrap: break-word;
}

.messages-message-own{
	background-color: lightsteelblue;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	width: 100%;
	border-radius: 8px;
	font-size: 14px;
	word-wrap: break-word;
}

.messages-time{
	font-size: 9px;
}

.messages-author{
	font-size: 11px;
	color: green;
	font-weight: 700;
	word-wrap: break-word;
	word-break: break-all;
}

form{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 3fr 1fr;
}

form button {
	border: none;
	padding: 12px;
}

 #messages { list-style-type: none; margin: 0; padding: 0; } 
#messages li { padding: 5px 10px; }